[Unit]
Description=Entrypoint

[Service]
Type=oneshot
ExecStart=/entrypoint.sh
StandardInput=tty
StandardOutput=tty
PassEnvironment=IPA_DOMAIN IPA_SERVER_HOSTNAME IPA_MANAGER_PASSWORD IPA_ADMIN_PASSWORD IPA_SERVER_FLAGS IPA_CLIENT_FLAGS

[Install]
WantedBy=multi-user.target
